<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <title>Application démo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/styles.css}" />
</head>
<body>
   <div>
       <h1>Ajouter un client</h1>
       <form th:action="@{/clientsAjout}"
             th:object="${actionClientForm}" method="POST">
           Nom    :
           <input type="text" th:field="*{nom}" />
           <br/>
           Prenom :
           <input type="text" th:field="*{prenom}" />
           <br/>
           <input type="submit" value="Ajouter" />
       </form>
       <br/>
       <div th:utext="${errorMessage}"></div>
   </div>
</body>
</html>
